body {
	background-color: rgb(200, 233, 233);
	text-align: center;
	border: 1px solid red;
	margin:20px;
	padding: 20px;
}
#nav{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
	background-color: rgb(120, 167, 167);
	text-align: center;
	border: 1px solid red;
	margin:20px;
	padding: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}